[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.2"
django-split-settings = "==1.2.0"
djangorestframework = "==3.14.0"
sentry-sdk = "==1.14.0"
celery = "==5.3.6"
django-filter = "==23.3"
pillow = "==10.1.0"
psycopg2 = "==2.9.9"

[dev-packages]
redis = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
faker = "*"
factory-boy = "*"
isort = "*"

[requires]
python_version = "3.11"
