[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
django-split-settings = "*"
djangorestframework = "==3.14.0"
sentry-sdk = "==1.14.0"
celery = "==5.3.4"
django-filter = "23.3"
psycopg2-binary = "*"
pillow = "*"

[dev-packages]
redis = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
faker = "*"
factory-boy = "*"
isort = "*"

[requires]
python_version = "3.11"
